* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    padding: 1%;
    background-color: rgb(170, 21, 21);

}

#ul_navbar li {
    padding: 5%;
    list-style-type: none;
    color: white;
    display: inline;
    font-size: 23px;
    
}


.list-group {
    background-color: rgb(247, 213, 18);
    list-style-type: none;
    width:100%;
    padding-top:20px;
    padding-bottom: 30px;  
    margin-top: 7px;
}

.list-group li{
    width:80%;
    background-color: rgb(247, 213, 18);
}




#footer{
    color:white;
    margin:0 auto;
    height: 40px;
    background-color: #15153B;
}