form {
    width: 300px;
    background-color: lightgrey;
    margin: 50px auto 50px auto;
    padding: 20px;
    border-radius: 20px 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #1B1D34;
}

label {
    display: block;
}

#submit {
    background-color: rgb(197, 36, 36);
    color: white;
    padding: 5px;
    width: 100px;
    margin-left: 66%;
}

input {
    margin-bottom: 10px;
    padding: 5px 5px 5px 25px;
    width: 88%;
    border-radius: 5px;
}

h1 {
    color: orange;
    text-align: center;
}

span {
    color: #1B1D34;
}

#fullName {
    background-image: url(Photos/User.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

#email {
    background-image: url(Photos/email.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
#contactNumber {
    background-image: url(Photos/contact.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
#address {
    background-image: url(Photos/address.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
