
div{
    width: 200px;
    height: 200px;
}
div:nth-child(4n+1){
    background-color: rgb(194, 59, 59);
}

div:nth-child(4n+2){
    background-color: rgb(228, 207, 17);
}

div:nth-child(4n+3){
    background-color: rgb(49, 58, 139);
}

div:nth-child(6){
    position: relative;
    left:100px;
    bottom:100px;
}

div:nth-child(7){
    position: relative;
    left:200px;
    bottom:200px;
}


div:nth-child(9){  
    position: absolute;
    right: 0px;
    bottom:-470px;
    z-index: 2;
}

div:nth-child(10){
    position: absolute;
    right:100px;
    bottom:-570px;
    z-index: 1;
}

div:nth-child(11){
    position: absolute;
    right:200px;
    bottom:-670px;
}


