body {
    background-image: url("images/field.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    height: 500px;
}

img {
    width: 200px;
    position: absolute;
}