body {
    width: 1920px;
    height: 1040;
    background-color: #0212fe;
    background-image: url('./images/bg.jpg');
    background-repeat: repeat-x;
    background-position-x: 0;
    background-position-y: 494px;
}


img {
    position: absolute;
    top: 632px;
    right: 850px;
    width: 256px;
    height: 256px;
}