body {
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

header {
    width: 100%;
    background-image: url('images/banner3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

header h2 {
    padding: 18% 5% 3% 5%;
    color: white;
    margin-top: 0px;
    font-weight: 500;
    font-size: 32px;
}

button {
    background-color: rgb(40, 101, 194);
    padding: 2% 7%;
    border: 1px solid rgb(40, 101, 194);
    border-radius: 43px;
    margin-bottom: 8%;  
}

button a {
    color: white;
    font-size: 15px;
}

h1 {
    text-align: center;
    color: gray;
    margin-top: 7%;
}

h1 span {
    color: orange;
    border: 4px solid gray;
    border-right: none;
}

#navTop ul {
    text-align: center;
    background-color: #81c3f5;
    color: white;
    padding-left: 0px;
    margin-left: 3%;
    margin-right: 3%;
}

#navTop li {
    padding: 2%;
    font-weight: bold;
}

.whoWeAre {
    margin: 7%;
}

p {
    line-height: 200%;
}

#aboutUs {
    text-align: center;
    font-size: 34px;
    margin-top: 15%;
    margin-bottom: 10%;
    font-weight: 500;
}

h2 span {
    border-bottom: 2px solid black;
    padding-bottom: 3%;
}

h3 {
    color:rgb(128, 204, 255);
    font-weight: 500;
    font-size: 24px;
}

.whoWeAre li {
    list-style-image: url("images/arrow_bullet.png");
    padding-bottom: 4%;
    color: gray;
}

.whoWeAre ul {
    padding-left: 18px; 
}

.whoWeAre p {
    margin-bottom: 7%;
}

li {
    list-style-type: none;
}

#people {
    text-align: center;
    font-size: 34px;
    margin-top: 15%;
    margin-bottom: 10%;
    font-weight: 500;
}

.people_says img {
     width: 15%;
     border: 1px solid white;
     border-radius: 50%;
     float: left;
     margin: 3% 3% 0% 3%;
     padding: 3px;
    }

article div {
    display: inline;
    width: 72%;
    float: left;
    margin-bottom: 7%;
}

.people_says {
    background-color: #7fc2f7;
    margin: 5% 10% 5% 15%;
    overflow: hidden;
}

h4 {
    margin: 8% 0 0 0;
}

.people_says p {
    margin: 0;
    padding: 5%;
    color:white;
    font-weight: 500;
}


#getInTouch {
    text-align: center;
    font-size: 34px;
    margin-top: 15%;
    margin-bottom: 10%;
    font-weight: 500;
}

section div {
    margin:0;
    padding: 4%;
    width: 92%;
    text-align: center;
    color: white;
}

#contact {
    background-color: #2dde98;
}

section h2 {
    color: white;
    font-weight: 500;
}

 i {
     margin-right: 1%;
     color: white;
 }

#connect i {
    margin-top: 3%;
    margin-bottom: 14%;
    margin-right: 6%;
}

 a {
     text-decoration: none;
 }

#connect {
    background-color: #ff4f81;
}

#address {
    background-color: #3369e7;
}

address {
    margin-bottom: 5%;
    font-weight: 500;
}

#house {
    background-color: lightblue;
    text-align: center;
}

iframe {
    width: 100%;
}


#mailUs{
    text-align: center;
    font-size: 34px;
    margin-top: 12%;
    margin-bottom: 8%;
    color: black;
    font-weight: 500;
}

form input {
    display: block;
    margin: 3%;
    padding: 2%;
    width: 90%;
    border: 1px solid black;
}

form textarea {
    display: block;
    margin: 3%;
    padding: 2%;
    width: 90%;
    font-family: inherit;
    border: 1px solid black;
}

#submit {
    width: 25%;
    background-color: #ff9800;
    border: 1px solid #ff9800;
    border-radius: 7px;
}

footer{
    background-color: #212121;
    color:white;
    padding: 5%;
    font-weight: 400;
    text-align: center
}

#navBottom li {
    display: inline;
    padding: 1%;
}

#navBottom li {
    width: 90%
}

#navBottom a {
    color: white;
}

footer p {
    padding: 3% 3% 3% 10%;
}

/* _______________________________*/


@media (min-width: 768px) {

header {
    position: relative;
}

 h1 {
    position: absolute;
    top: 0px;
    left: 20px;
    padding: 0px;
    margin-top:3%;
}
#navTop ul {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: inherit;
    width: 42%;
    margin-top:3%;
}
#navTop li {
     display: inline;
     font-size: 14px;
 }

 header h2 {
     font-size: 32px;
     padding-top: 25%;
 }

button {
    margin-bottom: 20%;
}

 #aboutUs {
     margin-top: 10;
}

.whoWeAre {
    position: relative;
}

.whoWeAre img {
    position: absolute;
    top: 27%;
    right: 0;
    width: 45%;
}

.whoWeAre p:nth-child(3) {
    width: 50%;
}

.whoWeAre ul {
    margin-bottom: 18%;
}

.people_says {
    width: 46%;
    display: block;
    float: left;
    margin: 1% 2%;
}



#peopleArticle {
    overflow: hidden;
    margin: 0% 6%;
}

#people {
    margin: 7% 0;
}

section div {
    padding: 3% 2%;
    width: 46%;
    float: left;
    height: 150px;
}

#house img {
    height: 100%;
}

form {
    margin: 2% 4% 5% 4%;
}
form input {
    display: inline;
    margin: 1%;
    padding: 2%;
    width: 26%;
}

form textarea {
    margin:1%;
    width: 92%;
}

footer {
    padding: 3% 3% 0% 3%;
}

} 

@media (min-width: 1200px) {

h1 {
    margin-top: 2%;
}

#navTop ul {
     width: 23%;
     display: inline;
  }

#navTop li {
    font-size: 12px;
}

header h2 {
    font-size: 40px;
    padding-top: 25%;
    margin-bottom: 0%;
}

button {
    padding: 1% 5%;
    margin-bottom: 17%;
}

.whoWeAre img {
    width: 45%;
    position: absolute;
    top:6%;
    right: 0;

}

#dream {
    display: inline-block;
    float: right;
    width:25%;
    margin:0 8% 0 0;
}

#welcome {
    display: inline-block;
    margin:0px;
    margin:0 0 0 10%;
    width: 52%; 
}

#welcome p {
    width: 50%;
    display: inline-block;
    margin-bottom: 2%;
}

#dream p {
    width: 95%;
    display: inline-block;
    margin-bottom: 5%;
}

#welcome li {
    padding-bottom: 2%;
}

#aboutUs {
    margin: 5% 0 5% 0;
}

.people_says {
    width: 31%;
    display: block;
    margin: 1% 1%;
}

section div {
    padding: 3% 2%;
    width: 21%;
    height: 130px;
}

form {
    margin: 2% 12% 3% 12%;
}

form input {
    width: 25%;
    margin-left: 2%;
    padding: 2%;
}

form textarea {
    width: 95%;
    margin: 2%;
    padding: 0%;
}

footer {
    padding: 3% 5% 0% 5;
}

footer p {
    margin: 0; 
}
 }