#chat {
    width: 400px;
    height: 600px;
    border:  1px solid black;
    margin: 10px auto;
}

p {
    background-color: rgb(247, 196, 178);
    width: 50%
}

#send {
    background-color: crimson;
    color: white;
    padding: 5px;
    width: 60px;
}

input:first-child {
    width: 320px;
    padding: 5px;
}

#form {
    width: 400px;
    margin: 10px auto;
}