.first {
    background-color: aliceblue;
}

.second {
    background-color: hotpink;
}

.third {
    background-color: blue;
}

.fourth {
    background-color: rgb(90, 223, 28);
}

.fifth {
    background-color: blueviolet;
}